/* styles.css */
@media (max-width: 768px) {
    .top-bar, .footer {
        padding: 5px 10px;
    }

    .video-title, .video-description {
        font-size: 18px;
    }

    .side-menu {
        width: 200px;
    }

    .content {
        margin-left: 0;
    }

    .dark-mode-toggle {
        display: none;
    }
}

body {
    margin: 0;
    font-family: 'Josefin Sans', Arial, sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.top-bar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: relative;
}

.burger-button-container {
    position: absolute;
    left: 10px;
    top: 2px;
    z-index: 1000;
}

.burger-button {
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.dark-mode-toggle {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 16px;
}

.dark-mode-toggle input {
    margin-right: 5px;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

.video-description {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.side-menu {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 999;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
    max-height: 400px;
    overflow-y: auto; /* Enable vertical scrollbar */
}

.side-menu ul::-webkit-scrollbar {
    width: 8px;
}

.side-menu ul::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.side-menu ul::-webkit-scrollbar-thumb {
    background: #888;
}

.side-menu ul::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.side-menu.collapsed {
    transform: translateX(-100%);
}

.side-menu h2 {
    margin-top: 0;
    margin-left: 20px;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
}

.side-menu ul li {
    padding: 10px;
    cursor: pointer;
    margin-left: -10px;
    position: relative; /* Set position relative to make the poster position absolute relative to this */
}

.menu-poster {
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    width: 150px;
    height: 225px;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.side-menu ul li:hover .menu-poster {
    display: block;
}

.content {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: margin-left 0.3s ease;
}

.video-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    width: 100%;
}

#fullScreen {
    margin-top: 10px; /* Add margin to separate from the description */
    align-self: center; /* Center horizontally */
}