* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
    -webkit-user-select: text; /* Chrome, Opera (older versions), iOS Safari */
    -webkit-touch-callout: text; /* Safari */
    -moz-user-select: text; /* Mozilla */
    -ms-user-select: text; /* Microsoft Edge/IE */
    user-select: text; /* Modern browsers */
}

.top-bar {
    background-color: #1a1a1a;
    color: #fff;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none; /* Chrome, Opera (older versions), iOS Safari */
    -webkit-touch-callout: none; /* Safari */
    -moz-user-select: none; /* Mozilla */
    -ms-user-select: none; /* Microsoft Edge/IE */
    user-select: none; /* Modern browsers */
}

.burger-button-container {
    display: flex;
    align-items: center;
}

.burger-button {
    cursor: pointer;
    font-size: 24px;
    padding: 5px 10px;
    color: #fff;
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
}

.dark-mode-toggle input {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007BFF;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.side-menu {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    overflow-y: auto;
    transition: left 0.3s;
    z-index: 999;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.side-menu.open {
    left: 0;
}

.side-menu h2 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 22px;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    text-align: center;
    color: #ddd;
    -webkit-user-select: none; /* Chrome, Opera (older versions), iOS Safari */
    -webkit-touch-callout: none; /* Safari */
    -moz-user-select: none; /* Mozilla */
    -ms-user-select: none; /* Microsoft Edge/IE */
    user-select: none; /* Modern browsers */
}

.scrollable {
    list-style: none;
    padding-left: 0;
}

.scrollable li {
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
    color: #ddd;
}

.scrollable li:hover {
    background-color: #333;
}

.menu-poster {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 150px;
    height: auto;
    z-index: 1000;
}

.scrollable li:hover .menu-poster {
    display: block;
}

.scrollable img {
    width: 100%;
    height: auto;
}

.content {
    margin-left: 250px;
    padding: 20px;
    padding-top: 80px;
    transition: margin-left 0.3s;
}

.content .poster {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.video-container {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}

.video-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.video-title {
    font-size: 24px;
    color: #1a1a1a;
}

.video-description {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.modern-button {
    padding: 8px 16px; /* Thinner padding */
    font-size: 14px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.modern-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.modern-button:active {
    transform: scale(0.95);
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #1a1a1a;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    user-select: none; /* Modern browsers */
}

.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.dark-mode .top-bar,
.dark-mode .footer,
.dark-mode .modern-button {
    background-color: #555;
    color: #fff;
}

.dark-mode .side-menu {
    background-color: #555;
}

.dark-mode .video-title,
.dark-mode .video-description {
    color: #d1d1d1;
}

/* Mobile styles */
@media (max-width: 768px) {
    .menu-poster {
        display: none !important; 
    }

    .top-bar {
        flex-direction: column;
        align-items: center;
    }

    .burger-button-container {
        align-self: flex-start;
        flex: 1;
    }

    .burger-button {
        padding: 5px;
        font-size: 24px;
    }

    .dark-mode-toggle {
        display: none;
    }

    .side-menu {
        width: 100%;
        left: -100%;
    }

    .side-menu h2 {
        align-self: center;
        margin-top: 80px;
        margin-bottom: 10px;
    }

    .side-menu.open {
        left: 0;
    }

    .content {
        margin-left: 0;
        padding-top: 100px;
    }

    .video-container {
        padding-top: 56.25%;
    }

    .video-title {
        font-size: 20px;
    }

    .video-description {
        font-size: 14px;
    }

    .modern-button {
        display: none;
    }
}